@import "../var.scss";

.bi-arrow-up-right {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: transform .3s ease-in-out, color .2s ease-in;

    &:hover {
        transform: rotate(45deg);
        color: $bg-skillIcon;

    }
}

.bg-skill {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
    padding: 1rem;
}

.bg-skillIcon {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $active-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: $theme-color;
}

.skillCardBg{
    // background-color: transparent !important ;
    background-color: $light-transparent !important ;

}

.skill-row .bi-arrow-up-right {
    border: 1px solid rgb(251, 251, 251);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border-color: $bg-skillIcon;

    }
}

.rangeBorder {
  position: relative;
  padding-bottom: 0.4rem; // creates space for the "fake" border
  border-radius: 1rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.4rem;
    width: 100%;
    border-radius: 1rem;
    background: $pink-gradient;
  }
}

@media (max-width: 1200px) and (min-width: 765px) {
    .topics-skills {
        width: 80%;
    }

    .topics-skills p:first-child {
        font-size: 1rem !important;
    }

    .topics-skills p:last-child {
        font-size: 0.9rem !important;
    }

    .bg-skill div:nth-child(2) {
        gap: 0 !important;
    }

    .bg-skillIcon {
        width: 40px;
        height: 40px;
        font-size: 2rem;
        color: $theme-color;
    }

    .button {
        width: 50px;
        height: 50px;
    }

    .button-box {
        top: 0%;
        left: 1px;
    }

    .button-elem {
        display: block;
        width: 15px;
        height: 15px;
    }
}

// background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 100%);

// .btn::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     background-image: url(../images/arrow-white.svg), var(--gradient-blue-vertical);
//     background-repeat: no-repeat, no-repeat;
//     background-position: center center, center center;
//     background-size: 24px auto, cover;
//     transform: translate(50px, 0px);
//     transition: all 0.4s ease-in-out;
// }